/* INICIO DE LOS RESETS */
/* CAMBIA EL MODELO DEL BOX-SIZING: PADDING Y BORDER SE AJUSTAN AL CONTENIDO */
*, *::before, *::after {
    box-sizing: border-box;
}

/* NORMALIZA EL MARGEN POR DEFECTO DE LOS NAVEGADORES Y
 AÑADE UN ALTO DE LÍNEA QUE INCREMENTA LA LEGIBILIDAD */
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

/* ELIMINA EL CURSOR DE TEXTO EXCEPTO EN ELEMENTOS INPUT */
*:not(input) {
    caret-color: transparent;
}

/* MEJORA EL RENDERIZADO DE TEXTO */
body {
    -webkit-font-smoothing: antialiased;
}

/* MEJORA EN LOS VALORES POR DEFECTO DE LOS ELEMENTOS QUE CONTIENEN MEDIA */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* FUERZA LA HERENCIA DE FUENTES EN LOS ELEMENTOS DE FORMULARIO */
input, button, textarea, select {
    font: inherit;
}

/* ELIMINA LOS DESBORDAMIENTOS DE TEXTO Y AÑADE GUIONES EN LOS CASOS NECESARIOS */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
/* FIN DE LOS RESETS */

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: #ddd;
}

header{
    grid-row: 1/2;
    background-color: #000;
}

section {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    gap: 10px;
    padding: 10px;
}

aside{
    grid-column: 1/2;
    background-color: #ccc;
}

footer{
    background-color: #000;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resto{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li{
    padding: 10px;
    border-radius: 70px;
    border: 3px solid #ccc;
    background-color: #000;
}

ul > li a{
    text-decoration: none;
    color: #fff;
}

ul li > a:hover{
    background-color: #ccc;
    color: #000;
}

ul > li > img{
    width: 125px;
    border-radius: 70px;
}